ol, ul{
  list-style: none;
}
strong{
  font-weight: 700;
}
em{
  font-style: italic;
}
body {
  background-color: #4996aa;
  color: #faf9f9;
}
#introContainer{
  position:relative;
}
#intro{
  position: absolute;
  top: 5%;
  left: 5%;
  width: 66%;
  font-family: 'Roboto', cursive;
  font-size: 20px;
  color: #faf9f9;
  text-align: left;
  text-indent: 4%;
  padding: 7%;
}
#intro-quotes{
  display: block;
  overflow: hidden;
  position: relative;
  width:  100%;
  float: left;
  font-family: 'Alfa Slab One', cursive;
  font-size: 30px;
  background-color: #1E142D;
  color: #faf9f9;
  text-align: center;
}
#justification{
  list-style: circle;
  width: 60%;
  font-family: 'Roboto', cursive;
  font-size: 14px;
  text-align: left;
  text-indent: 4%;
  padding: 5%;
  font-style: bold;
  color: #faf9f9;
  text-align: left;
}
#entrySuperTitle{
  font-family: 'Montserrat', sans-serif;
}
#entryTitle{
  font-family: 'Alfa Slab One', cursive;
  font-size: 22px;
}
.topTenList{
  display: grid;
  grid-template-columns: [first] 33% [line2] 33% [line3] 33% [end];
  grid-template-rows: auto, auto, auto;
  margin: 60px;
  margin-top: 50px;
}
.entryLeft{
  grid-column-start: first;
  grid-column-end: line3;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  background-color: #4C93DC;
  width: 100%;
  height: fit-content;
  display: inline-block;
}
.entryRight{
  grid-column-start: line2;
  grid-column-end: end;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  background-color: #4C4D77;
  width: 100%;
  height: fit-content;
  display: inline-block;
}
#formContainer { 
  display: grid; 
  float: right;
  width: 25%;
  color: #1E142D;
  border: 5px solid;
  border-radius: 4px;
  padding: 3%;
  margin: 5%;
  margin-left: 1%;
  font-size: 25px;
  /* other necessary CSS */ 
}
#yardsEntry { 
  display: grid; 
  font-size: 18px;
  /* other necessary CSS */ 
}
#fieldPositionEntry { 
  display: grid; 
  font-size: 18px;
  /* other necessary CSS */ 
}
#timeRemainingEntry { 
  display: grid; 
  font-size: 18px;
  /* other necessary CSS */ 
}
#scoreDiffEntry { 
  display: grid; 
  font-size: 18px;
  /* other necessary CSS */ 
}
#BIFFResults { 
  font-size: 20px;
  text-align: center;
  background-color: #4C4D77;
  padding: 5%;
  border-radius: 10px;
  color: #faf9f9;
  /* other necessary CSS */ 
}
img{
	width:100%;
	height:auto;
}
#log{
	font-size:300px;
}